@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

body {
  background-color: #695acda6;
}

.form-holder {
  transition: 0.5s ease;

  position: absolute;
  width: 350px;
  height: 250px;

  left: calc(50% - 175px);
  bottom: calc(50% - 125px);

  background-color: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.form-holder form {
  display: flex;
  flex-direction: column;
  padding: 30px 5px;
  align-items: center;
}

.form-holder form input {
  background-color: #eeeeeeb9;
  border-radius: 2px;
  text-indent: 15px;
}

.form-holder form button {
  background-color: #695acd;
  color: #fff;
  font-size: 15px;
}

.form-holder form a {
  appearance: none;
  -webkit-appearance: none;
}

.form-holder form input,
.form-holder form button {
  border: none;
  height: 40px;
  width: 80%;
  margin: 10px;
}

.form-holder form button:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
}

.form-holder form button:disabled {
  opacity: 0.1;
  cursor: default;
}

.form-holder form p {
  color: #695acda6;
  text-decoration: underline;
}
.form-holder form p:hover {
  color: #5e4cd3;
  cursor: pointer;
}

#notification {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 200px;
	padding: 20px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .hidden {
	display: none;
  }
 
/* ----- MEdicine Div ------- */

#myDiv {
  margin-top: 2rem;
}

#med {
  border-radius: 5px;
  margin: 0 auto;
  width: 700px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

#med h3, #med h2 {
  text-align: center;
}

#med > div {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#med > div:last-child {
  border-bottom: none;
}

#med .comp {
  text-align: center;
}

#med .footer {
  text-align: center;
}

#show {
  background-color: #695acd;
  color: #fff;
  font-size: 15px;
  border: none;
  width: 300px;
  text-align: center;
  height: 40px;
  margin: 10px;
}

